        * {
            margin: 0;
            padding: 0;
            text-decoration: none;
            outline: 0;
        }

        .container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .layer {
            display: inline-block;
            width: 95px;
            height: 25px;
            position: relative;
            box-sizing: border-box;
        }

        .content {
            box-sizing: border-box;
            display: inline-block;
            width: 82.5px;
            height: 25px;
            color: #666;
            font-size: 12px;
            line-height: 25px;
            background: #f6f6f6;
            border: 1px solid #e5e5e5;
            border-right: 0;
            text-align: center;
        }

        .r_arrow,
        .l_arrow {
            width: 25px;
            height: 25px;
            position: absolute;
            left: 82px;
            top: 0;
            float: left;
        }

        .l_arrow {
            left: 0;
            top: 0;
        }

        .r_outer,
        .l_outer {
            display: inline-block;
            box-sizing: border-box;
            width: 0;
            height: 0;
            border: solid 12.5px transparent;
            border-left: 12.5px dashed #e5e5e5;
        }

        .r_inner,
        .l_outer {
            display: inline-block;
            box-sizing: border-box;
            position: absolute;
            left: 0px;
            top: 1.5px;
            width: 0;
            height: 0;
            border: solid 11px transparent;
            border-left: 11px dashed #f6f6f6;
            z-index: 2;
        }

        .l_inner {
            display: inline-block;
            box-sizing: border-box;
            position: absolute;
            left: -.5px;
            top: 0;
            width: 0;
            height: 0;
            border: solid 12.5px transparent;
            border-left: 12.5px solid #fff;
        }

        .l_outer {
            border-left: 11.5px solid #fff;
            left: -1px;
        }

        .blue {
            background: #108ee9;
            color: #fff;
        }

        .blue_b {
            border-left: 12.5px dashed #108ee9;
            -moz-border-left-colors: #108ee9;
        }

        .grey {
            border-left: 12.5px solid #e5e5e5;
        }

        .border_n {
            border: 0;
        }

        .m_right {
            width: 95px;
            border: 1px solid #e5e5e5;
        }

        .red {
            color: #D0021B;
            border: 1px solid #D0021B;
        }

        .then {
            margin-left: -5px;
        }

        .end {
            margin-left: 284px;
        }

        .content span{
            margin-left: 12.5px;
        }
        .white{
            background: #fff;
        }
        .white_b{
            border-left: 11px dashed #fff;
        }